%h1 Contact Us

%p Please feel free to contact us with any questions or comments.

%blockquote
  Sadie Arnold
  %br
  = link_to 'EastsideWOP@gmail.com', 'mailto:EastsideWOP@gmail.com'
  %br
  (206) 571-7762