%h1 Contact Us

%p Please feel free to contact us with any questions or comments.

%blockquote
  Rayme Teders
  %br
  = link_to 'Teders@comcast.net', 'mailto:Teders@comcast.net'
  %br
  (425) 829-8778