%h1 Event Details

/
  %div{:style => 'float: right; margin-left: 16px; margin-bottom: 20px'}
    %img{:src => 'images/echofalls.jpg',
         :border => 0,
         :width => 257,
         :height => 245}

%p Join us for an afternoon of golfing, a beautiful dinner, and an evening of prizes! The 4th Annual "Tee Off Against Trafficking" Charity Golf Tournament and Auction will be held on <b>Saturday, May 21, 2011</b> at <b>1:30PM</b>, at:
%blockquote
  %b<
    = link_to 'Washington National Golf Club', 'http://www.washingtonnationalgolfclub.com/'
  %br
  14330 SE Husky Way
  %br
  Auburn, WA 98092
  %br
  (253) 333-5000
  %br
  = link_to 'Map/Directions', 'http://maps.google.com/maps?q=washington+national+golf+club&hl=en&sll=47.559015,-122.110928&sspn=0.60246,0.094122&ie=UTF8&view=map&cid=5449797838894313536&hq=washington+national+golf+club&hnear=&z=16&iwloc=A'

%h2
  = link_to 'Click here to register now!', 'https://tournaments.okigolf.com/Register.aspx?E=752603'

%h3
  Golf, Banquet, and Auction ($200/person):
%ul
  %li
    %strong Early Bird Registration: Sign up by April 4th and the fee is only $175/person
  %li 18 holes of golf
  -# %li Valet bag drop
  -# %li Golf cart &amp; score card provided
  -# %li Gift bag including sponsor's products &amp; coupons
  -# %li Phenomenal prizes
  %li Includes one seat at banquet
  %li Opportunity to bid in live and silent auctions
  -# %li Your fee less $75 is tax-deductible
  %li The knowledge that you are playing a part in the STOP of human trafficking

%h3
  Banquet/Auction Only ($50/person):
%p You don't have to golf to be involved! Join us for just the banquet and live/silent auction. Space is limited.

/
  %p Registration will open at <b>7:00AM</b>, the tournament will begin with an <b>8:00AM</b> shotgun start, and the banquet and auction starts at <b>12:30PM</b>.
  %p The tournament will be a four-person scramble with a shotgun start. You can sign up as a foursome, or we can put you on a team.
  %p The banquet will include a delicious buffet lunch, silent auction, and high energy live auction (<a href="auction.html">item list</a>). We'll also reveal the tournament results and give out prizes for the winning teams.
  %p This year, non-golfers are welcome to join us for the banquet and auction for a reduced ticket price.
