!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  /
    InstanceBegin template="/Templates/teeoff template.dwt" codeOutsideHTMLIsLocked="false"
  %head
    %meta{ :content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type" }
    /
      InstanceBeginEditable name="doctitle"
    %title
      Eastside Women of Purpose - Tee Off Against Trafficking
    /
      InstanceEndEditable
    /
      InstanceBeginEditable name="head"
    /
      InstanceEndEditable
    %link{ :href => "teeoff.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :type => "text/JavaScript" }
      /
        function MM_preloadImages() { //v3.0
        var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
        var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
        if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
        }
        
        function MM_swapImgRestore() { //v3.0
        var i,x,a=document.MM_sr; for(i=0;a&amp;&amp;i<a.length&amp;&amp;(x=a[i])&amp;&amp;x.oSrc;i++) x.src=x.oSrc;
        }
        
        function MM_findObj(n, d) { //v4.01
        var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&amp;&amp;parent.frames.length) {
        d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
        if(!(x=d[n])&amp;&amp;d.all) x=d.all[n]; for (i=0;!x&amp;&amp;i<d.forms.length;i++) x=d.forms[i][n];
        for(i=0;!x&amp;&amp;d.layers&amp;&amp;i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
        if(!x &amp;&amp; d.getElementById) x=d.getElementById(n); return x;
        }
        
        function MM_swapImage() { //v3.0
        var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
        if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
        }
        \//
  %body{ :onload => "MM_preloadImages('img/home_2.png','img/details_2.png','img/mission_2.png','img/signup_2.png','img/player_2.png','img/sponsor_2.png','img/contact_2.png','img/player2_2.png','img/sponsor2_2.png','img/donate_2.png')" }
    .wrapper
      .header
      .content
        .nav
          %p{ :align => "center" }
            %a{ :href => "index.html", :onmouseover => "MM_swapImage('home','','img/home_2.png',1)", :onmouseout => "MM_swapImgRestore()" }
              %img#home{ :name => "home", :src => "img/home_1.png", :border => "0", :height => "30", :alt => "Home", :width => "151" }
            %a{ :href => "details.html", :onmouseover => "MM_swapImage('details','','img/details_2.png',1)", :onmouseout => "MM_swapImgRestore()" }
              %img#details{ :name => "details", :src => "img/details_1.png", :border => "0", :height => "30", :alt => "Details", :width => "151" }
            %a{ :href => "mission.html", :onmouseover => "MM_swapImage('mission','','img/mission_2.png',1)", :onmouseout => "MM_swapImgRestore()" }
              %img#mission{ :name => "cause", :src => "img/mission_1.png", :border => "0", :height => "30", :alt => "Cause", :width => "151" }
            %a{ :href => "player.html", :onmouseover => "MM_swapImage('player','','img/player_2.png',1)", :onmouseout => "MM_swapImgRestore()" }
              %img#player{ :name => "player", :src => "img/player_1.png", :border => "0", :height => "30", :alt => "Become A Player", :width => "151" }
            %a{ :href => "signup.htm", :onmouseover => "MM_swapImage('signup','','img/signup_2.png',1)", :onmouseout => "MM_swapImgRestore()" }
            %a{ :href => "sponsor.html", :onmouseover => "MM_swapImage('sponsor','','img/sponsor_2.png',1)", :onmouseout => "MM_swapImgRestore()" }
              %img#sponsor{ :name => "sponsor", :src => "img/sponsor_1.png", :border => "0", :height => "30", :alt => "Become A Sponsor", :width => "151" }
            %a{ :href => "contact.html", :onmouseover => "MM_swapImage('contact','','img/contact_2.png',1)", :onmouseout => "MM_swapImgRestore()" }
              %img#contact{ :name => "contact", :src => "img/contact_1.png", :border => "0", :height => "30", :alt => "Contact", :width => "151" }
        .main
          /
            InstanceBeginEditable name="main"
          %p
          %div{ :style => "position: absolute; left: 675px; top: 175px" }
            /
              <a href="http://public.serviceu.com/registration/default.asp?OrgID=11910&amp;EventID=4513567&amp;OccID=160190237"><img src="img/signup_1.png" alt="Sign Up!" name="signup" width="140" height="140" border="0" id="signup" /></a>
            /
              <a target="_top" href="http://shop.ebay.com/merchant/eastside_women_of_purpose_W0QQ_nkwZQQ_armrsZ1QQ_fromZQQ_mdoZ"><img src="img/auction.png" alt="View online auctions" width="142" height="141" border="0" /></a>
          %p{ :align => "center", :style => "margin: 3em" }
            %img{ :src => "img/2010cover.png", :border => "0", :height => "148", :alt => "Tee Off Against Trafficking / 3rd Annual Charity Golf Tournament / Saturday, April 25th 2009 / 8am Shotgun Scramble at Willows Run, Redmond, WA", :width => "616" }
          %h3{ :align => "center", :style => "text-transform: none" }
            %a{ :href => "http://public.serviceu.com/registration/default.asp?OrgID=11910&amp;EventID=4513567&amp;OccID=160190237", :style => "color: #00C" }
              REGISTER NOW for Tournament, Auction, and Luncheon
            %br
            %a{ :href => "http://public.serviceu.com/registration/default.asp?OrgID=11910&amp;EventID=4521802&amp;OccID=160573484", :style => "color: #00C" }
              REGISTER NOW for Auction &amp; Luncheon Only
            %br
          %p
            \&nbsp;
          %h2{ :align => "center" }
            SATURDAY MAY 22, 2010
            %br
            8AM Shotgun Scramble, 12:30PM Banquet &amp; Auction
            %br
            at The Golf Club at Echo Falls
          %p
            \&nbsp;
          %p
            \&nbsp;
          %p{ :align => "center" }
            %nobr
            %a{ :href => "player.html", :onmouseover => "MM_swapImage('player2','','img/player2_2.png',1)", :onmouseout => "MM_swapImgRestore()" }
              %img#player2{ :name => "player2", :src => "img/player2_1.png", :vspace => "0", :border => "0", :height => "45", :hspace => "0", :alt => "Become A Player", :width => "227" }
            %a{ :href => "sponsor.html", :onmouseover => "MM_swapImage('sponsor2','','img/sponsor2_2.png',1)", :onmouseout => "MM_swapImgRestore()" }
              %img#sponsor2{ :name => "sponsor2", :src => "img/sponsor2_1.png", :vspace => "0", :border => "0", :height => "45", :hspace => "0", :alt => "Become A Sponsor", :width => "227" }
            %a{ :href => "http://public.serviceu.com/registration/default.asp?OrgID=11910&EventID=4523441&OccID=160730146", :onmouseover => "MM_swapImage('donate','','img/donate_2.png',1)", :onmouseout => "MM_swapImgRestore()", :target => "_blank" }
              %img#donate{ :name => "donate", :src => "img/donate_1.png", :vspace => "0", :border => "0", :height => "45", :hspace => "0", :alt => "Donate To This Cause", :width => "227" }
          %p
            \&nbsp;
          %p
            \&nbsp;
          /
            InstanceEndEditable
      .push
    .footer
      %h5
        %a{ :href => "index.html" }
          Home
        |
        %a{ :href => "details.html" }
          Event Details
        |
        %a{ :href => "mission.html" }
          Our Mission
        |
        %a{ :href => "player.html" }
          Become a Player
        |
        %a{ :href => "sponsor.html" }
          Become a Sponsor
        |
        %a{ :href => "contact.html" }
          Contact
  /
    InstanceEnd
