%h1 Our Mission
%p
  = link_to 'Eastside Women of Purpose (EWOP)', 'http://www.eastsidewomenofpurpose.com/'
  advocates for women and children at risk of, or enslaved in, the injustices of sexual exploitation, trafficking & slave labor both here and abroad.
%h3 Our Project
%p Pattaya is a city in Thailand that is completely built around prostitution and sex trafficking. Many of the young girls (16-21) working in the bars were tricked into prostitution and are now indebted to bar owners and must work. There are additional aspects of child (ages 3-14) sex slavery happening throughout the city. It is a very broken place.

%p But there is hope. In that city, there are a handful of Thai and western urban workers who banded together to fight this human trafficking. It's a daunting task. But our partners are seeing breakthrough. Our fundraising efforts will expand the currently supported training and recovery center and launch an intervention program to prevent young guys and girls from even entering the brothels and bars. Hundreds of lives will be impacted.