%h1
  Become a Sponsor
%style{:type => 'text/css'}
  :sass
    #sponsorships
      margin-top: 2.5em
      td
        padding-right: 30px
      h2
        font-size: 14pt
        padding-bottom: 3px
        border-bottom: 1px solid #AAA
        text-transform: uppercase
      h4
        font-size: 10pt
      ul
        font-size: 10pt
%p Sign up to be a sponsor and a hero in this story by contacting Rayme Teders at (425) 829-8778 or <a href="mailto:Teders@comcast.net">Teders@comcast.net</a>. We would also love to sit down with you and give you any other information you may need. Please just let us know.
%p (Every dollar you put towards a sponsorship is completely tax deductible.)
%p
  %b
    = link_to 'Check out', 'sponsors.html'
    the sponsors for this year's tournament!
#sponsorships
  %h2 Tournament Sponsorship Options
  %h4 Presenting Sponsor - $5,000
  %ul
    %li Maximum of two presenting sponsors ($5,000 each)
    %li Name incorporated into event name
    %li Recognition at Banquet
    %li Name on all tournament signage
    %li Recognition in all promotional materials and on website
    %li Receives one playing foursome (4 players)
  %h4 Platinum Sponsor (signage) - $2,000
  %ul
    %li Company name on bottom corner of all tournament signage
    %li Recognition on website and promotional materials
    %li Receives one playing foursome (4 players)
  %h4 Gold Sponsor (cart) - $1,000
  %ul
    %li Maximum of two cart sponsors ($1,000 each)
    %li Company name on 36 carts (front or back 9 holes)
    %li Recognition on website
  %h4 Silver Sponsor #1 (Hole) - $500
  %ul
    %li Name on signage at tee
    %li Table setup at hole for promotional materials, etc.
    %li Recognition on website and promotional materials
  %h4 Silver Sponsor #2 (Auction) - $500
  %ul
    %li Sponsor entire 8-person table (guests of your choosing)
    %li Signage recognition at table
    %li Recognition on website and Auction Booklet
  %h4 Bronze Sponsor - $300
  %ul
    %li
      One of the following:
      %ul
        %li Name on signage at snack shack on course
        %li Name on signage on beverage cart circling course
        %li Name on signage at silent table in banquet room
    %li Recognition on website
  %h4 Prize Sponsor/Gift Bag Sponsor
  %ul
    %li Donate four (4) items to be used as Tournament Prizes
    %li Recognition on website
    %li Donate golf towel/balls/water bottle/tees with company logo for 132 players
